<center>
<br>
<br>
<br>
<br>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<h1>Editando Restaurante</h1>

<%= render 'form', restaurante: @restaurante %>

<%= link_to 'Atrás', @restaurante %>
