
<section class="home-slider owl-carousel js-fullheight">
<div class="slider-item js-fullheight" style="background-image: url(https://colorlib.com/preview/theme/feliciano/images/bg_1.jpg);">
<div class="overlay"></div>
<div class="container">
<div class="row slider-text js-fullheight justify-content-center align-items-center" data-scrollax-parent="true">
<div class="col-md-12 col-sm-12 text-center ftco-animate">
<span class="subheading">foodie order</span>
<h1 class="mb-5">Plataforma de pedidos online.</h1>
</div>
</div>
</div>
</div>
<div class="slider-item js-fullheight" style="background-image: url(https://colorlib.com/preview/theme/feliciano/images/bg_2.jpg);">
<div class="overlay"></div>
<div class="container">
<div class="row slider-text js-fullheight justify-content-center align-items-center" data-scrollax-parent="true">
<div class="col-md-12 col-sm-12 text-center ftco-animate">
  <span class="subheading">foodie order</span>
  <h1 class="mb-5">Más de 150 restaurantes.</h1>
</div>
</div>
</div>
</div>
<div class="slider-item js-fullheight" style="background-image: url(https://colorlib.com/preview/theme/feliciano/images/bg_3.jpg);">
<div class="overlay"></div>
<div class="container">
<div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
<div class="col-md-12 col-sm-12 text-center ftco-animate">
  <span class="subheading">foodie order</span>
  <h1 class="mb-5">Ordena en tan solo un click.</h1>
</div>
</div>
</div>
</div>
</section>
<section class="ftco-section ftco-no-pt ftco-no-pb">
<div class="container-fluid">
<div class="row">
<div class="col-md-12">
<div class="featured">
<div class="row">
<div class="col-md-3">
<div class="featured-menus ftco-animate">
<div class="menu-img img" style="background-image: url(http://www.brunapoli.cl/wp-content/uploads/2018/11/brunapoli.jpg);"></div>
<div class="text text-center">
<h3>Brunapoli</h3>
</div>
</div>
</div>
<div class="col-md-3">
<div class="featured-menus ftco-animate">
<div class="menu-img img" style="background-image: url(https://www.itaubeneficios.cl/wp-content/uploads/2018/07/itau_logo_mogambo_300x300_acf_cropped_300x300_acf_cropped.jpg);"></div>
<div class="text text-center">
<h3>Mogambo</h3>
</div>
</div>
</div>
<div class="col-md-3">
<div class="featured-menus ftco-animate">
<div class="menu-img img" style="background-image: url(https://www.sakuraexpress.cl/sakura/resources/img/logocuadrado.png);"></div>
<div class="text text-center">
<h3>Sakura</h3>
</div>
</div>
</div>
<div class="col-md-3">
<div class="featured-menus ftco-animate">
<div class="menu-img img" style="background-image: url(https://larutadelahamburguesacl.files.wordpress.com/2014/11/logo-la-burguesia.jpg);"></div>
<div class="text text-center">
<h3>La Burguesía</h3>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>


<section class="ftco-section ftco-counter img ftco-no-pt" id="section-counter">
<div class="container">
  <br>
  <br>
  <br>
  <br>
<div class="row d-md-flex">
<div class="col-md-9">
<div class="row d-md-flex align-items-center">
<div class="col-md-6 col-lg-3 mb-4 mb-lg-0 d-flex justify-content-center counter-wrap ftco-animate">
<div class="block-18">
<div class="text">
<strong class="number" data-number="16">0</strong>
<span>Años de experiencia</span>
</div>
</div>
</div>
<div class="col-md-6 col-lg-3 mb-4 mb-lg-0 d-flex justify-content-center counter-wrap ftco-animate">
<div class="block-18">
<div class="text">
<strong class="number" data-number="178">0</strong>
<span>Restaurantes</span>
</div>
</div>
</div>
<div class="col-md-6 col-lg-3 mb-4 mb-lg-0 d-flex justify-content-center counter-wrap ftco-animate">
<div class="block-18">
<div class="text">
<strong class="number" data-number="30">0</strong>
<span>Empleados</span>
</div>
</div>
</div>
<div class="col-md-6 col-lg-3 mb-4 mb-lg-0 d-flex justify-content-center counter-wrap ftco-animate">
<div class="block-18">
<div class="text">
<strong class="number" data-number="15000">0</strong>
<span>Clientes felices</span>
</div>
</div>
</div>
</div>
</div>
<div class="col-md-3 text-center text-md-left">
<p>La mejor plataforma para ordenar pedidos online. Contamos con más de 100 restaurantes distintos asociados.</p>
</div>
</div>
</div>
</section>


<section class="hero-wrap hero-wrap-2" style="background-image: url('https://colorlib.com/preview/theme/feliciano/images/bg_3.jpg');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate text-center mb-4">
        <h1 class="mb-2 bread">FOODIE ORDERS</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">Una nueva plataforma, donde podrás ordenar los platos de tus restaurantes favoritos de manera cómoda y rápida.</h2>
      </div>
    </div>
  </div>
</section>
